<h2>ABOUT</h2>
<ul class="list-group">
  <li class="list-group-item">Topic總數：<%= @topics_number%> </li>
  <li class="list-group-item">Comment總數：<%= @comments_number%></li>
  <li class="list-group-item">User總數：<%= @users_number%></li>
</ul>

<%= link_to "返回主頁", topics_path, :class =>"btn btn-info"%>