<ul class="list-group">
  <li class="list-group-item">使用者名稱：<%= @user.nickname%></li>
  <li class="list-group-item">使用者信箱：<%= @user.email%></li>
  <li class="list-group-item">使用者簡介：<%= @user.description%></li>
</ul>

<%= link_to "返回主頁", topics_path, :class =>"btn btn-info"%>

